@import "dashboard.css";

.container {
    background-color: var(--lightBackgroundColor);
    overflow: hidden;
}

.container-buying {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.content {
    margin: 24px 8px 24px 8px;
    background-color: var(--lightBackgroundColor);
}

.home-content {
    width: 100%;
    padding: 24px 12px;
    height: 600px;
    background: url("../../img/homeswiper3.jpg") fixed;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-subhead {
    border-radius: 50px;
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 1.7rem;
    background-color: var(--lightSecondaryColor);
    color: var(--lightSecondaryOnColor);
}

.home-content h1 {

    text-align: center;
    padding: 2px 16px;
    color: var(--lightPrimaryOnColor);
    background-color: var(--lightPrimaryColor);
    border-radius: 50px;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    font-size: 3rem;

}

.content-table {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.checkout-order, .address-content, .payMethod-content {
    padding: 24px 16px 24px 16px;
    border: 1px solid var(--lightOutlineColor);
    border-radius: 24px;
    background-color: var(--lightSurfaceColor);
}

.checkout-order p {
    font-size: 0.75rem;
    line-height: 0.78rem;
    opacity: 90%;
    margin-bottom: 8px;
}

.checkout-order button {
    text-align: center;
    width: 100%;
}

.prices {
    list-style: none;
    margin-bottom: 8px;
}

.prices li {
    display: flex;
    justify-content: space-between;
}