a {
    color: var(--lightPrimaryContainerOnColor);
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr;
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 6px #252525;
    background-color: var(--lightPrimaryContainerColor);
    color: var(--lightPrimaryContainerOnColor);
    align-items: center;
}

.navigation-controller {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px var(--lightPrimaryColor) solid;
    overflow: hidden;
}

.navigation-controller span {
    pointer-events: none;
}

.navigation-controller .background {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightPrimaryColor);
    opacity: 0;
}

.navigation-controller:hover .background {
    opacity: 24%;
}

header ul {
    display: flex;
    height: 100%;
    width: fit-content;
    line-height: 72px;
    margin-right: 25px;
}

header ul li {
    margin-left: 20px;
    list-style: none;
    text-align: center;
    width: fit-content;
    height: 100%;
    border-bottom: 5px var(--lightPrimaryContainerOnColor) solid;
    color: var(--lightPrimaryContainerOnColor);
}

.user-navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 12px;
    align-items: center;
    flex-grow: 2;
}

#product-basket {

}

.user-register {
    display: flex;
    align-items: center;
    height: 72px;
}

.user-register span {
    line-height: 52px;
}

.user-logo {
    width: 32px;
    height: 32px;
    background-image: url("../../img/userlogo.png");
    background-size: 100% auto;
}

.user-manage {
    transition: 120ms;
    pointer-events: none;
    z-index: 12;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 220px;
    height: 250px;
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: center;
    top: 50px;
    left: 40px;
    padding: 12px;
    background-color: var(--darkSecondaryContainerColor);
    color: var(--darkSecondaryContainerOnColor);
    border-radius: 12px;
}

.user-manage[aria-hidden="true"] {
    pointer-events: none;
    opacity: 0;
    box-shadow: none;
    transform: translateY(-2px);
}

.user-manage[aria-hidden="false"] {
    opacity: 100%;
    box-shadow: 0 0 5px black;
    transform: translateY(2px);
    pointer-events: auto;
}

.user-manage a {
    justify-self: center;
}

@keyframes user-manage {
    from {
        opacity: 0;
    }
    to {

    }
}