:root {
    /* Light primary colors */
    --lightPrimaryColor: #9b4600;
    --lightPrimaryColor38: rgba(155, 70, 0, 0.38);
    --lightPrimaryColor12: rgba(155, 70, 0, 0.12);
    --lightPrimaryOnColor: rgb(255, 255, 255);


    /* Light primary container color */
    --lightPrimaryContainerColor: #ffdbc6;
    --lightPrimaryContainerOnColor: #331200;
    --lightPrimaryContainerOnColor38: rgba(255, 219, 198, 0.36);
    --lightPrimaryContainerOnColor12: rgba(255, 219, 198, 0.12);

    /* Light secondary colors */
    --lightSecondaryColor: rgb(117, 88, 71);
    --lightSecondaryOnColor: #171616;

    /* Light secondary container colors */
    --lightSecondaryContainerColor: #ffdbc6;
    --lightSecondaryContainerOnColor: #2b170a;

    /* Light surface colors */
    --lightSurfaceColor: #fcfcfc;
    --lightSurfaceOnColor: #201a17;
    --lightSurfaceOnColor38: rgba(23, 23, 22, 0.38);
    --lightSurfaceOnColor12: rgba(23, 23, 22, 0.12);

    --lightSurfaceVariantColor: #f4ded3;
    --lightSurfaceVariantOnColor: #52443c;
    --lightSurfaceVariantOnColor38: rgba(23, 23, 22, 0.38);
    --lightSurfaceVariantOnColor12: rgba(23, 23, 22, 0.12);

    /* Light background colors */
    --lightBackgroundColor: rgb(255, 251, 251);

    /* Light outline color */
    --lightOutlineColor: #85746b;

    /* Light error colors */
    --lightErrorColor: rgb(201, 37, 37);
    --lightErrorOnColor: rgb(194, 0, 0);

    /* Light success colors */
    --lightSuccessColor: rgb(69, 147, 36);
    --lightSuccessOnColor: rgb(24, 105, 9);

    /* Light alert colors */
    --lightAlertColor: rgb(255, 211, 42);
    --lightAlertOnColor: rgb(255, 174, 0);

    /* Dark primary container colors */
    --darkPrimaryContainerColor: rgb(29, 33, 36);
    --darkPrimaryContainerOnColor: rgb(255, 255, 255);
    --darkPrimaryContainerOnColor38: rgba(255, 255, 255, 0.38);

    /* Dark secondary container colors */
    --darkSecondaryContainerColor: rgb(43, 47, 51);
    --darkSecondaryContainerOnColor: rgb(197, 197, 197);

    /* Dark background color */
    --darkBackgroundColor: rgb(31, 27, 27);

    /* Dark outline color */
    --darkOutlineColor: rgb(213, 213, 213);

    /* Dark error colors */
    --darkErrorOnColor: rgb(255, 58, 58);

}
