@import url('colors.css');
@import url("components/components.css");
@import url("product-details.css");
@import url("layout/page-layout.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

:root {
    font-size: calc(12px + (1vw * 0.4));
    direction: rtl;
    margin: 0;
}

body {
    margin-top: 72px;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 400;
    text-align: right;
    background-color: var(--lightBackgroundColor);
}

p {
    font-size: 1rem;
}

h1 {
    font-weight: 800;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input, select, textarea, button {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 400;
    resize: vertical;
    outline: none;
    border: none;
    padding: 0;
}

.right-pizza {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../img/halfpizza.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right center;
    width: 350px;
    max-width: 35%;
    height: 100%;

}

.form-container {
    padding: 40px;
    height: auto;
    width: 100%;
    margin-top: 140px;
    border-radius: 26px;
    background-color: var(--lightBackgroundColor);
    box-shadow: 0 0 8px black;
}

.form-user {
    width: 60%;
    margin-right: 35%;
    margin-top: 150px;
}

.form-vertical {
    display: flex;
    flex-wrap: wrap;
}

.h-1 {
    min-height: 40px;
    height: 40px;
}

.h-2 {
    min-height: 56px;
    height: 56px;
}

.h-auto {
    min-height: 56px;
    height: auto;
}

.m-1 {
    margin: 0 0 4px 8px;
}

.flex-50 {
    flex-basis: 48%;
    flex-grow: 2;
}

.flex-100 {
    flex-basis: 100%;
    flex-grow: 2;
}

.flex-33 {
    flex-basis: 31%;
    flex-grow: 2;
}

.flex-25 {
    flex-basis: 23%;
    flex-grow: 2;
}