@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    /* Light primary colors */
    --lightPrimeryColor: 213, 109, 0;
    --lightPrimeryOnColor: 255, 255, 255;
    --lightPrimeryContainerOnColor: 33, 0, 94;

    /* Light secondary colors */
    --lightSecondaryContainerColor: 232, 222, 248;
    --lightSecondaryContainerOnColor: 30, 25, 43;

    /* Light surface colors */
    --lightSurfaceColor: 255, 251, 254;
    --lightSurfaceOnColor: 28, 27, 31;

    --lightOutlineColor: 121, 116, 126;

}
a[class*="btn"]{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.btn{
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 40px;
    transition: all 400ms;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    width: fit-content;
    height: 40px;
    font-weight: 500;
    min-width: 64px;
    min-height: 40px;
    border-radius: 3em;
}
.btn span i{
    vertical-align: middle;
}
.btn i:first-child{
    margin: 0 8px 0 -8px;
}
.btn i:last-child{
    margin: 0 -8px 0 8px;
}
.btn:active{
    transition: all 100ms;
}

.btn-elevated{
    padding: 0 24px;
    border: none;
    color: rgba(var(--lightPrimeryColor));
    background-color: rgba(var(--lightSurfaceColor));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);                       /* Custom elevation lvl 1 */
}
.btn-elevated:disabled{
    background-color: rgba(var(--lightSurfaceOnColor), 12%);
    color: rgba(var(--lightSurfaceOnColor), 38%);
    box-shadow: none;
}
.btn-elevated:not(:active):enabled:hover, a.elevated:not(:active):hover{
    /* Not specified in M3 */
    filter: brightness(85%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);                       /* Custom elevation lvl 2 */
}
.btn-elevated:focus{
    /* Not specified in M3 */
}
.btn-elevated:active{
    background-color: rgba(var(--lightSurfaceColor));
    /* Not specified in M3 */
}

.btn-filled{
    background-color: rgba(var(--lightPrimeryColor));
    color: rgba(var(--lightPrimeryOnColor));
    padding: 0 24px;
    border: none;
}
.btn-filled:disabled{
    background-color: rgba(var(--lightSurfaceOnColor), 12%);
    color: rgba(var(--lightSurfaceOnColor), 38%);
}
.btn-filled:not(:active):enabled:hover, a.filled:not(:active):hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);                       /* Custom elevation lvl 1 */
}
.btn-filled:focus{
    box-shadow: none;                                               /* Elevation lvl 0
    /* Not specified in M3 */

}
.btn-filled:active{
    box-shadow: none;
    /* Not specified in M3 */
}

.btn-filled-tonal{
    padding: 0 24px;
    border: none;
    background-color: rgba(var(--lightSecondaryContainerColor));
    color: rgb(var(--lightSecondaryContainerOnColor));
}
.btn-filled-tonal:disabled{
    background-color: rgba(var(--lightSurfaceOnColor), 12%);
    color: rgba(var(--lightSurfaceOnColor), 38%);
}
.btn-filled-tonal:not(:active):enabled:hover, a.filled-tonal:not(:active):hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);                       /* Custom elevation lvl 1 */
    /* Not specified in M3 */
}
.btn-filled-tonal:focus{
    /* Not specified in M3 */
}
.btn-filled-tonal:active{
    /* Not specified in M3 */
}

.btn-outlined{
    padding: 0 24px;
    color: rgba(var(--lightPrimeryColor));
    border: 1px solid rgba(var(--lightOutlineColor));
    background-color: rgba(0,0,0,0%);
}
.btn-outlined:disabled{
    color: rgba(var(--lightSurfaceOnColor), 38%);
    border: 1px solid rgba(var(--lightOutlineColor), 12%);
}
.btn-outlined:not(:active):enabled:hover, a.outlined:not(:active):hover{
    background-color: rgba(var(--lightPrimeryColor), 12%);
    /* Not specified in M3 */
}
.btn-outlined:focus{
    /* Not specified in M3 */
}
.btn-outlined:active{
    /* Not specified in M3 */
}

.btn-text{
    color: rgba(var(--lightPrimeryColor));
    padding: 0 12px;
    border: none;
    background-color: rgba(0,0,0,0%);
}
.btn-text i:first-child{
    margin: 0 8px 0 0;
}
.btn-text span:last-child{
    margin-right: 4px;
}
.btn-text i:last-child{
    margin: 0 0 0 8px;
}
.btn-text span:first-child{
    margin-left: 4px;
}
.btn-text:disabled{
    color: rgba(var(--lightSurfaceOnColor), 38%);
}
.btn-text:enabled:hover, a.text:hover{
    /* Not specified in M3 */
    background-color: rgba(var(--lightPrimeryColor), 26%);
}
.btn-text:focus{
    /* Not specified in M3 */
}
.btn-text:active{
    /* Not specified in M3 */
}

.form-group{
    background-color: inherit;
    text-align: right;
    position: relative;
    display: flex;
    height: 56px;
    align-items: center;
}
.form-control{
    text-align: right;
    transition: 400ms;
    font-family: "Raleway Medium", sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 56px;
    height: 100%;
}
.control-outlined{
    color: #f5f5f5;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px 6px;
}
.control-outlined:focus{
    border-color: rgba(var(--lightPrimeryColor));
    border-width: 2px;
}
.control-filled{
    padding: 28px 16px 6px;
    border-radius: 4px 4px 0 0;
    background-color: #f5f5f5;
}
.control-filled:focus ~ .form-control-border{
    height: 3px;
    background-color: #d56d00;
}
.form-control-select{
    padding-right: 12px;
}
.form-control-textarea{
    line-height: 26px;
    max-height: 140px;
    padding: 30px 16px 6px;
    height: 94px;
}
.textarea-hidden-overflow{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 28px;
    background-color: #f5f5f5;
}
.placeholder{
    z-index: 1;
    color: #939393;
    background-color: inherit;
    transition: 400ms;
    position: absolute;
    top: 18px;
    right: 12px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    pointer-events: none;
}
.form-control-border{
    transition: 400ms;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 1px;
}
.control-filled:focus + .placeholder, :not(.form-control[value=""]) + .placeholder{
    background-color: inherit;
    top: 0;
    margin-top: 4px;
    font-size: 14px;
}
.control-outlined:focus + .placeholder, :not(.form-control[value=""]):not(.control-filled) + .placeholder{

    background-color: #1d2124 ;
    top: 0;
    transform: translateY(-50%);
    margin-top: 0;
    font-size: 14px;
}
.form-control:focus + .placeholder{
    color: rgba(var(--lightPrimeryColor));
}
option{
    transition: 400ms;
    height: 48px;
    border: none;
    width: 100%;
}
.checkbox-parent{
    display: flex;
    position: relative;
    align-items: center;
    width: 40px;
    height: 40px;
}
.form-control-checkbox{
    cursor: pointer;
    opacity: 0;
    width: 20px;
    height: 20px;
    margin: auto;
}
.form-control-checkbox:hover:not(:active):not(:focus) ~ .checkbox-ripple{
    opacity:5%;
    width: 100%;
    height: 100%;
}
.form-control-checkbox:checked ~ .checkbox-background{
    background-color: rgba(var(--lightPrimeryColor));
    border-color: rgba(var(--lightPrimeryColor));
    color: white;
}
.form-control-checkbox:active ~ .checkbox-ripple{
    opacity:30%;
    width: 100%;
    height: 100%;
}
.form-control-checkbox:focus ~ .checkbox-ripple{
    opacity:15%;
    width: 100%;
    height: 100%;
}
.checkbox-background{
    transition: 100ms 0ms cubic-bezier(0.4, 0, 0.6, 1),transform 100ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    top:10px;
    left:10px;
    width: 20px;
    height: 20px;
    border: 2px #8a8a8a solid;
    border-radius: 4px;
    background-color: transparent;
    color: transparent;
}
.checkbox-background i{
    box-sizing: border-box;
    color: inherit;
    position: absolute;
    top:0;
    left:-1px;
    width: 17px;
    height: 17px;
}
.checkbox-ripple{
    transition: 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
    background-color: rgba(var(--lightPrimeryColor));
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 5%;
    opacity: 0;
    border-radius: 50%;
}
.checkbox-label{
    margin-left: 10px;
}

span.ripple {
    filter: brightness(150%);
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 800ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}