@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
@import url('components.css');
:root{
    direction: rtl;
    margin: 0;
}
body{
    margin: 0;
    text-align: right;
    background-color: rgb(239, 239, 239);
    color: white;
}
*{
    box-sizing: border-box;
    padding: 0;
}
input, select, textarea{
    resize: vertical;
    outline: none;
    border: none;
    padding: 0;
}
.container{
    width: 100%;
    height: 800px;
    margin: 0;
    display: flex;
    position: relative;
    align-items: center;
}
.right-pizza{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../img/halfpizza.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right center;
    width: 400px;
    max-width: 35%;
    height: 100%;

}
.content{
    padding:0;
    background-color: #1d2124;
    width: 100%;
    height: 580px;

}
.form-container{
    height: 100%;
    width: 35%;
    margin-right: 35%;
}
.h-1{
    height: 40px;
}
.h-2{
    height: 48px;
}
.m-1{
    margin: 0 0 8px 8px;
}
.h-auto{
    height: auto;
}