.table-data {
    width: fit-content;
    border-radius: 8px;
    border: 1px solid var(--lightOutlineColor);
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

tr {
    background-color: var(--lightSurfaceColor);
    position: relative;
    border-top: 1px solid var(--lightOutlineColor);
}

table thead tr {
    border: none;
}

tr:hover {
    filter: brightness(85%);
}

thead {
    font-weight: 600;
}

th {
    width: auto;
    padding: 16px;
}

td {
    padding: 16px;
}