.product-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-row-gap: 16px;
}

.product {
    display: grid;
    grid-template-columns: 185px auto;
    background-color: var(--lightSurfaceColor);
    border: 1px solid var(--lightOutlineColor);
    border-radius: 1rem;
}

.product-information {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: .9rem;
}

.product-information .footer {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-column: 1 / 2;
}

.footer .product-qty {
    display: grid;
    grid-template-columns: auto auto;
}

.product-qty .qty {
    background-color: var(--lightSurfaceColor);
    justify-self: right;
    grid-column: auto;
}

.product-qty .remove-from-basket {
    background-color: transparent;
    border: 1px solid var(--lightOutlineColor);
    border-radius: 3em;
    margin-left: -34px;
}

.item-total-price {
    justify-self: left;
    grid-column-end: none;
}

.product-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.product-subhead {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-card {
    padding: .9rem;
    font-size: .65rem;
}